.header-styleguide{
  text-align: center;
}

.block{
  margin: 0.5rem;
  flex-basis: auto;
}

section{
  width: 80%;
  margin: 4rem auto;
}

.title-block{
  min-width: 3rem;
  /* border-right: 1px dotted rgba(255,0,0, 0.7); */
}

.title-block p{
  font-weight: 400;
  /* text-align: right; */
}

.element-block{
  width: 30rem;
  margin-bottom: 50px;
}

.code-block{
  width: 20rem;
  background-color: white;
  padding: 0.5rem 1rem;
}

/* grid */
.gridContainer{
  background-color: white;
}
.gridBlock{
  background-color: rgba(255,0,0, 0.7);
  padding: 1rem;
  text-align: center;
  margin: 0.5rem 0.5rem;
}
.gridBlock h3{
  color: white;
}

/* header stuff */
.header-white-background{
  width: 100%;
}

.header-nav{
  position: relative;
}

#header-home-nav-2{
  position: absolute;
  top: 40px;
  left: 2rem;
  z-index: 3;
}

#header-home-nav-2 a{
  font-size: 1.5rem;
  position: relative;
  top: auto;
  right:auto;
}

#header-right-nav-2{
  display: none;
}

#header-right-nav2 a{
  text-decoration: none;
  color: black;
  font-family: 'Nunito Sans', sans-serif;
  font-size: 1.2rem;
  font-weight: 300;
    font-style: oblique;
  display: block;
  align-self: flex-end;
  display: none;
  /* transition:  */
}

.hamburger-btn2{
  position: absolute;
  border: none;
  background: transparent;
  top: 55px;
  right: 90px;
  text-align: left;
  z-index: 3;
}

.hamburger-btn2:focus{
  outline:none;
}

/* colours */
#colour-block-container{
  /* display: block; */
}
.colourBlock{
  width: 150px;
  height: 150px;
  padding: 0.5rem;
  box-shadow: 0px 8px 12px rgba(199,139,60, 0.3);
  text-align: center;
  margin-bottom: 1rem;
  vertical-align: middle;
}
.background-grey{
  background-color: rgb(237,237,236);
}

.light-brown{
  background-color: rgb(237,215,200);
}

.multiply-red{
  background-color: rgba(255,0,0, 0.7);
}

.pastel-green{
  background-color: rgb(220,228,221);
}

.darkSlateGrey{
  background-color: rgb(48,48,48);
  color: white;
}

/* sample content section */
/* #content-sample-section .element-block{
  min-width: 80%;
} */

@media (max-width: 700px) {
    #header-home-nav-2{
      left: 20px;
    }
    #header-home-nav-2 a{
      font-size: 1rem;
    }
    .hamburger-btn2{
      top: 40px;
      right: 40px;
    }
}
