.container {
  display: -webkit-flex;
  display: -ms-flex;

  display: flex;

  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;

  flex-wrap: wrap;

  margin: 1rem 0rem;

}

.block {
  flex: 1 1 auto;
  flex-basis: 5em;
  display: block;
}
