body{
  padding: 0;
  margin: 0;
  background-color: rgb(237,237,236);
  font-family: 'Nunito Sans', sans-serif;
}

/* orientations */
.top-box-spacing{
  margin-top: 20vh;
}

/* text */
h1{
  font-family: 'Montserrat', Helvetica, sans-serif;
  font-size: 2.5rem;
  font-weight: 700;
  letter-spacing: 2px;
  margin: 0;
}

h2{
  font-family: 'Nunito Sans', sans-serif;
  font-size: 2rem;
  font-weight: 300;
}

h3{
  font-weight: 300;
  font-size: 0.9rem;
}

p{
  font-family: 'Nunito Sans', Helvetica, sans-serif;
  font-size: 1rem;
  font-weight: 400;
  letter-spacing: 1px;
  line-height: 30px;
}

/* header stuff */
header{
  position: sticky;
  top: 0;
  height: 2rem;
  /* overflow: hidden; */
}

.header-nav{
  position: relative;
}

.header-white-background{
  position: absolute;
  background-color: white;
  /* background-blend-mode: darken; */
  width: 100vw;
  height: 70px;
  background-size: contain;
}

.header-home-nav{
  position: absolute;
  top: 3rem;
  left: 3rem;
}

.header-home-nav a{
  font-family: 'Montserrat', sans-serif;
  font-size: 2rem;
  font-weight: 700;
  text-decoration: none;
  color: rgba(255,0,0, 0.7);
  letter-spacing: 2px;
    /* transition:  */
}

.header-home-nav a:hover, .header-home-nav a:focus{
  text-decoration: line-through;
}

.header-other-nav{
  position: absolute;
  top: 3rem;
  right: 4rem;
  text-align: left;
}

.header-other-nav a{
  text-decoration: none;
  color: black;
  font-family: 'Nunito Sans', sans-serif;
  font-size: 1.2rem;
  font-weight: 300;
    font-style: oblique;
  display: block;
  align-self: flex-end;
  /* transition:  */
}

.header-other-nav a:hover, .header-other-nav a:focus{
  /* font-weight: 400; */
  color: rgba(255,0,0, 0.7);
}

/* index page */
.index-section{
  width: 90%;
  height: 50vh;
  margin-left: auto;
  margin-right: auto;
  position: relative;
}

#me-img{
  background-color: rgb(237,215,200);
  position: absolute;
  left: 10%;
  width: 50%;
  height: 50vh;
}

.index-title{
  position: absolute;
  bottom: 0;
  left: 50%;
}
