body{
  padding: 0;
  margin: 0;
  background-color: rgb(237,237,236);
  font-family: 'Nunito Sans', sans-serif;
}

/* orientations */
.top-box-spacing{
  margin-top: 20vh;
}

.rem-space-top{
  padding-top: 3rem;
}

.see-other-page{
  margin-top: 5vh;
  text-align: center;
}

/* text */
h1{
  font-family: 'Montserrat', Helvetica, sans-serif;
  font-size: 2.5rem;
  font-weight: 700;
  letter-spacing: 2px;
  margin: 0;
}

h2{
  font-family: 'Nunito Sans', sans-serif;
  font-size: 2rem;
  font-weight: 300;
}

h3{
  color: rgba(255,0,0, 0.7);
  font-weight: 400;
  font-size: 0.9rem;
  font-style: oblique;
}

h4{
  font-family: 'Montserrat', sans-serif;
  font-size: 1.1rem;
  letter-spacing: 1px;
  line-height: 40px;
  color: rgba(255,0,0, 0.7);
}

p{
  font-family: 'Nunito Sans', Helvetica, sans-serif;
  font-size: 1rem;
  font-weight: 400;
  letter-spacing: 1px;
  line-height: 30px;
}

p strong{
  font-family: 'Montserrat', sans-serif;
  color: rgba(255,0,0, 0.7);
}

.intext-link{
  font-family: 'Montserrat', sans-serif;
  font-size: 1rem;
  letter-spacing: 1px;
  color: rgba(255,0,0, 0.7);
}

.intext-link:hover, .intext-link:focus{
  text-decoration: line-through;
}

/* button styling */
.default-button{
  font-family: 'Montserrat', sans-serif;
  padding: 1rem 2rem;
  margin: 0.5rem;
  text-decoration: none;
  border: none;
  background-color: white;
  border-radius: 25px;
  box-shadow: 0px 8px 12px rgba(199,139,60, 0.3);
  color: rgba(255,0,0, 0.7);
  /* tansition */
}

.default-button:hover{
  box-shadow: none;
  background-color: rgba(255,0,0, 0.7);
  color: white;
}

/* header stuff */
header{
  position: sticky;
  top: 0;
  height: 2rem;
  z-index: 1;
}

.header-nav{
  position: relative;
}

.header-white-background{
  position: absolute;
  background-color: white;
  width: 100vw;
  height: 62px;
  background-size: contain;
  z-index: 2;
}

.header-home-nav{
  position: absolute;
  top: 40px;
  left: 2rem;
  z-index: 3;
    -webkit-transition: .5s ease-in;
      -moz-transition: .5s ease-in;
      -o-transition: .5s ease-in;
      -ms-transition: .5s ease-in;
      transition: .5s ease-in;
}

.header-home-nav a{
  font-family: 'Montserrat', sans-serif;
  font-size: 2rem;
  font-weight: 700;
  text-decoration: none;
  color: rgba(255,0,0, 0.7);
  letter-spacing: 2px;
    -webkit-transition: .5s ease-in;
      -moz-transition: .5s ease-in;
      -o-transition: .5s ease-in;
      -ms-transition: .5s ease-in;
      transition: .5s ease-in;
}

.header-home-nav a:hover, .header-home-nav a:focus{
  text-decoration: line-through;
}

.header-right-nav{
  position: absolute;
  top: -170px;
  right: 4rem;
  text-align: left;
  background-color: white;
  padding: 2rem;
  z-index: 0;
  -webkit-transition: .5s ease-in;
    -moz-transition: .5s ease-in;
    -o-transition: .5s ease-in;
    -ms-transition: .5s ease-in;
    transition: .5s ease-in;
}

.active{
  top: 60px;
  box-shadow: 0 5px 5px rgba(100, 100, 100, 0.3);
  display: block;
}

.header-right-nav a{
  text-decoration: none;
  color: black;
  font-family: 'Nunito Sans', sans-serif;
  font-size: 1.2rem;
  font-weight: 300;
  font-style: oblique;
  display: block;
  align-self: flex-end;
}

.header-right-nav a:hover, .header-right-nav a:focus{
  color: rgba(255,0,0, 0.7);
}

.hamburger-btn{
  border: none;
  background: transparent;
  position: absolute;
  top: 40px;
  right: 90px;
  text-align: left;
  z-index: 3;
  height: 40px;
  width: 45px;
}

.hamburger-icon{
  background-color: rgba(255, 0, 0, 0.7);
  width: 30px;
  height: 4px;
  display: block;
  position: absolute;
  margin: 0;
  transition: all 0.3s;
  pointer-events: none;
}

.hamburger-icon::before, .hamburger-icon::after{
  position: absolute;
  content: '';
  background-color: rgba(255, 0, 0, 0.7);
  width: 40px;
  height: 4px;
}

.hamburger-icon::before{
  top:-10px;
  transition: all 0.3s;
}
.hamburger-icon::after{
  top:10px;
}

.hamburger-btn:focus, .hamburger-btn:hover{
    outline:none;
}

.hamburger-btn:hover .hamburger-icon, .hamburger-btn:focus .hamburger-icon{
  width: 40px;
  background-color: rgba(0, 0, 255, 0.7);
}

.hamburger-btn.toggle .hamburger-icon{
  background: transparent;
}

.hamburger-btn.toggle .hamburger-icon:before{
  top: 0;
  transform: rotate(45deg);
}

.hamburger-btn.toggle .hamburger-icon:after{
  top: 0;
  transform: rotate(-45deg);
}


/* ///////////////////////////////////////////////////////////////// */
/* Footer stuff */
footer{
  margin-top: 10vh;
  background: white;
  padding: 2rem;
}

.footer-container{
  margin: 0 auto;
  justify-content: space-around;
  align-items: center;
}

.footer-container .block{
  text-align: center;
}

.footer-container a{
  text-decoration: none;
  font-family: 'Nunito Sans', sans-serif;
  font-size: 1.2rem;
  font-weight: 300;
  font-style: oblique;
}

.footer-container a:hover, .footer-container a:focus{
  color: rgb(255,255,255);
}


/* ///////////////////////////////////////////////////////////////// */

/* Work overview section */
#feature-work1-section, .feature-work2-section{
    background-color: white;
    width: 90%;
    margin: 10vh auto 1rem auto;
    position:relative;
    /* box-shadow: */
}

/* citation: https://paulund.co.uk/learn-css-box-shadow */
#feature-work1-section:before
{
  z-index: -1;
  position: absolute;
  content: "";
  width: 90%;
  margin: 0 auto;
  bottom: 15px;
  left: 10px;
  width: 90%;
  top: 80%;
  background: #777;
  box-shadow: 0 15px 10px rgba(100, 100, 100, 0.5);
  transform: rotate(-1deg);
}

.feature-work2-section:before
{
  z-index: -1;
  position: absolute;
  content: "";
  width: 90%;
  margin: 0 auto;
  bottom: 15px;
  right: 10px;
  width: 90%;
  top: 80%;
  background: #777;
  box-shadow: 0 15px 10px rgba(100, 100, 100, 0.5);
  transform: rotate(1deg);
}
.featured-work-container{
  width: 95%;
  margin: 3rem auto;
  padding: 1rem;
  /* border: 0.5px solid rgb(237,215,200); */
}

/* button to navigate to work page */
.see-more-block{
  /* display: none; */
  /* opacity: 0; */
  display: block;
  margin: 3rem auto;
}

.work-overview-block{
  min-width: 30rem;
  height: inherit;
  justify-content: space-between;
  /* position: relative; */
}

.work-facts-container{
  /* position: absolute;
  bottom: 1rem; */
  align-content: space-around;
}

.work-facts-block{
  width: 20rem;
  margin-right: 2rem;
  display: inline-block;
  vertical-align: top;
}

.work-facts-block p{
  font-size: 0.9rem;
  font-weight: 300;
}

.work-img-block{
  width: 50rem;
  margin-left: 2rem;
  /* position: relative; */
}

.work-img-block img{
  width: 100%;
  height: auto;
}


@media (max-width:1150px) {
  .work-facts-container{
    margin: 2rem auto;
    justify-content: space-between;
    align-content: flex-start;
  }
  .work-overview-block{
    min-width: 80%;
    margin: 1rem auto;
  }
  .work-facts-block{
    width: 40%;
    vertical-align: top;
    margin: 1rem 1rem 1rem auto;
  }
  .work-img-block{
    order:-1;
    min-width: 80%;
  }
}

/* references page */
#references-section{
  width: 70%;
  margin-left: auto;
  margin-right: auto;
}

@media (max-width:700px) {
  .work-img-block{
    width: auto;
    margin: 2rem auto;
  }
  .header-home-nav{
    left: 20px;
    top: 30px;
  }
  .header-home-nav a{
    font-size: 1.1rem;
  }
  .hamburger-icon, .hamburger-icon::before, .hamburger-icon::after{
    width: 30px;
    height: 4px;
  }
  .hamburger-btn{
    top: 15px;
    right: 20px;
  }
  .hamburger-icon:hover, .hamburger-icon:focus{
    width: 25px;
  }
  .footer-container .block{
    display: block;
    min-width: 90%;
    margin-bottom: 50px;
  }
}
