body{
  padding: 0;
  margin: 0;
  background-color: rgb(237,237,236);
  font-family: 'Nunito Sans', sans-serif;
}

/* orientations */
.top-box-spacing{
  margin-top: 20vh;
}

/* text */
h1{
  font-family: 'Montserrat', Helvetica, sans-serif;
  font-size: 2.5rem;
  font-weight: 700;
  letter-spacing: 2px;
  margin: 0;
}

h2{
  font-family: 'Nunito Sans', sans-serif;
  font-size: 2rem;
  font-weight: 300;
}

h3{
  color:  rgba(255,0,0, 0.7);
  font-weight: 400;
  font-size: 0.9rem;
  font-style: oblique;
}

p{
  font-family: 'Nunito Sans', Helvetica, sans-serif;
  font-size: 1rem;
  font-weight: 400;
  letter-spacing: 1px;
  line-height: 30px;
}

.intext-link{
  font-family: 'Montserrat', sans-serif;
  font-size: 1.2rem;
  letter-spacing: 1px;
  color: rgba(255,0,0, 0.7);
}

.intext-link:hover, .intext-link:focus{
  text-decoration: line-through;
}

/* button styling */
.default-button{
  font-family: 'Montserrat', sans-serif;
  padding: 1rem 2rem;
  margin: 0.5rem;
  text-decoration: none;
  border: none;
  background-color: white;
  border-radius: 25px;
  box-shadow: 0px 8px 12px rgba(199,139,60, 0.3);
  color: rgba(255,0,0, 0.7);
  /* tansition */
}

.default-button:hover{
  box-shadow: none;
  background-color: rgba(255,0,0, 0.7);
  color: white;
}

/* header stuff */
header{
  /* position: sticky;
  top: 0; */
  height: 2rem;
  z-index: 1;
  /* overflow: hidden; */
}

.header-nav{
  position: relative;
}

.header-white-background{
  position: absolute;
  background-color: white;
  /* background-blend-mode: darken; */
  width: 100vw;
  height: 62px;
  background-size: contain;
}

.header-home-nav{
  position: absolute;
  top: 3rem;
  left: 3rem;
}

.header-home-nav a{
  font-family: 'Montserrat', sans-serif;
  font-size: 2rem;
  font-weight: 700;
  text-decoration: none;
  color: rgba(255,0,0, 0.7);
  letter-spacing: 2px;
    /* transition:  */
}

.header-home-nav a:hover, .header-home-nav a:focus{
  text-decoration: line-through;
}

.header-other-nav{
  position: absolute;
  top: 3rem;
  right: 4rem;
  text-align: left;
}

.header-other-nav a{
  text-decoration: none;
  color: black;
  font-family: 'Nunito Sans', sans-serif;
  font-size: 1.2rem;
  font-weight: 300;
    font-style: oblique;
  display: block;
  align-self: flex-end;
  /* transition:  */
}

.header-other-nav a:hover, .header-other-nav a:focus{
  /* font-weight: 400; */
  color: rgba(255,0,0, 0.7);
}

/* Footer stuff */
footer{
  margin-top: 10vh;
  background: white;
  padding: 2rem;
}

.footer-container{
  margin: 0 auto;
  justify-content: space-around;
}

.footer-container .block{
  text-align: center;
}

.footer-container a{
  text-decoration: none;
  color: black;
  font-family: 'Nunito Sans', sans-serif;
  font-size: 1.2rem;
  font-weight: 300;
  font-style: oblique;
}

.footer-container a:hover, .footer-container a:focus{
  color: rgba(255,0,0, 0.7);
}

/* index page */
.index-section{
  width: 90%;
  height: 50vh;
  margin-left: auto;
  margin-right: auto;
  position: relative;
}

#me-img video{
  background-color: rgb(237,215,200);
  position: absolute;
  background-size: cover;
  left: 10%;
  width: 50%;
  height: 50vh;
}

.index-title{
  position: absolute;
  bottom: 0;
  left: 50%;
}

#see-projects-space{
  margin-top: 10vh;
  text-align: center;
}

/* Work overview section */
#feature-work1-section, #feature-work2-section{
    background-color: white;
    margin: 10vh 0 1rem 0;
}

.featured-work-container{
  width: 95%;
  margin: 3rem auto;
  box-sizing: border-box;
  padding: 1rem;
  /* border: 0.5px solid rgb(237,215,200); */
}

/* button to navigate to work page */
.see-more-block{
  /* display: none; */
  /* opacity: 0; */
  margin: 3rem auto;
}

.work-overview-block{
  min-width: 30rem;
  height: inherit;
  justify-content: space-between;
  /* position: relative; */
}

.work-facts-container{
  /* position: absolute;
  bottom: 1rem; */
  align-content: space-around;
}

.work-facts-block{
  width: 20rem;
  margin-right: 2rem;
  display: inline-block;
}

.work-facts-block p{
  font-size: 0.9rem;
  font-weight: 300;
}

.work-img-block{
  width: 50rem;
  margin-left: 2rem;
  /* position: relative; */
}

.work-img-block img{
  width: 100%;
  height: auto;
  /* transition: opacity .35s ease;
}
/*
.work-img-block:hover img{
  /* filter:blur(4px); */
}

/* .work-img-block:hover .see-more-block{
  position: absolute;
  text-align: center;
  justify-content: center;
  opacity: 1;
  z-index: 1;
   aria-hidden: 'false';
}*/

/* Resume html page */
.resume-section{
  width: 70%;
  margin-left: auto;
  margin-right: auto;
}
#resume-header-block{
  width: 45%;
  margin-right: 1rem;
}
#resume-header-block h1{
  /* text-align: right; */
  font-size: 4rem;
  /* color:  */
}
#resume-block{
  min-width: 45%;
  max-width: 60%;
  padding: 3rem;
  background-color: white;
  height: 80vh;
}

@media (max-width: 1500px) {
  .resume-section{
    display: block;
    width: 100%;
  }
  #resume-header-block{
    width: 80%;
    margin-left: auto;
    margin-right: auto;
  }
    #resume-block{
      max-width: 90%;
      margin: 1rem auto;
      padding: 1rem;
      height: 50vh;
    }
}
@media (max-width:1150px) {
  .work-facts-container{
    display: block;
  }
  .work-img-block{
    order:-1;
    min-width: 80%;
  }
}
