.resume-section{
  width: 70%;
  margin-left: auto;
  margin-right: auto;
}
#resume-header-block{
  width: 45%;
  margin-right: 3rem;
  margin-bottom: 2rem;
}
#resume-header-block h1{
  font-size: 4rem;
}
#resume-block{
  min-width: 45%;
  max-width: 60%;
  padding: 3rem;
  background-color: white;
  height: 80vh;
}

@media (max-width: 1200px) {
  .resume-section{
    display: block;
    width: 100%;
  }
  #resume-header-block{
    width: 80%;
    margin-left: auto;
    margin-right: auto;
  }
    #resume-block{
      max-width: 70%;
      margin: 1rem auto;
      padding: 1rem;
    }
}
