#project-background-color{
  background-color: rgb(220,228,221);
  width: 80%;
  padding: 0 3rem;
  margin: 0 auto;
}

.project-section-intro{

}

.project-roles{
  width: 40%;
  margin: 0 auto;
}

.project-title-img{
  background-color: rgb(237,215,200);
  width: 60%;
  height: 50vh;
  margin: 0 auto;
}

.project-section-body{
  position: relative;
  margin:
}
