#project-background-color{
  background-color: white;
  width: 85%;
  padding: 0 3rem;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 0px 8px 12px rgb(150, 150, 150);
}
.project-section-intro{
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  padding: 10vh 0;
  border-bottom: 1px solid rgba(255,0,0, 0.7);
}

.title-block h1{
  font-size: 6rem;
  text-align: right;
  vertical-align: middle;
  color: rgb(48,48,48);
}

.project-roles{
  min-width: 50%;
  padding-left: 4rem;
  margin: 0 auto;
}

.project-roles p {
  font-size: 1rem;
  font-weight: 300;
  margin: 1.5rem auto;
}

/* .project-roles p strong{
  font-family: 'Montserrat', sans-serif;
  color: rgba(255,0,0, 0.7);
} */

/* .project-title-img{
  width: 60%;
  margin: 0 auto;
}

.project-title-img img{
  width: 100%;
  height: auto;
} */

/* spacing and such */
.block-1-3{
  width: 30%;
  margin: 1rem;
}

.block-2-3{
  width: 60%;
  margin: 1rem;
}

.block-1-2{
  width: 50%;
  max-width: 40rem;
  margin: 1rem;
}

.block-1-3 img, .block-2-3 img, .block-1-2 img{
  width: 100%;
}

.project-section-body{
  /* position: relative; */
  width: 90%;
  margin: 5rem auto;
}

.text-block{
  /* max-width: 40rem; */
  /* min-width: 40%; */
  padding: 0rem 2rem;
}

.project-img-block{
  /* min-width: 25rem; */
  margin: 1rem 2rem;
}

.project-img-block img{
  width: 100%;
  height: auto;
}

.img-series-container{
  min-width: 50%;
  max-width: 50%;
}

.bottom-box-spacing{
  padding-bottom: 10vh;
}

/* .img-series-container-vert{
  flex-direction: column;
  max-width: 50%;
} */

.img-description{
  padding: 0.5rem;
  font-size: 0.8rem;
  font-style: oblique;
  background-color: white;
}

.conclusion-block{
  padding-bottom: 10vh;
}
/*
@media (max-width:1560px) {
  .title-block h1{
    text-align: center;
  }
} */

@media (max-width: 1280px) {
  .title-block h1{
    text-align: left;
    margin-bottom: 3rem;
  }
  .project-roles{
    padding: 0;
  }
}



@media (max-width: 1024px) {
  .project-section-body{
    display: block;
    width: 90%;
    margin-left:auto;
    margin-right: auto;
  }
  .text-block{
    width: 80%;
    margin: 0 auto;
  }
  .img-series-container{
    max-width: 90%;
    flex-direction: column;
    margin: 0 auto;
  }
  .project-img-block{
    width: 100%;
  }
  #inspiration-img{
    width: 100%;
    order: -1;
  }
  .fig-text-container, .block-1-2, .block-1-3, .block-2-3{
    display: block;
    width: 90%;
    margin: 2rem auto;
  }
  .bottom-box-spacing{
    padding-bottom: 0;
  }
}

@media (max-width: 700px) {
  .title-block h1{
    font-size: 4rem;
  }
  p{
    font-size: 0.9rem;
  }
  .text-block{
    width: 95%;
    margin: 1rem auto;
  }
  .img-series-container{
    display: block;
  }
  .project-img-block{
    display: block;
    min-width: 15rem;
    margin: 0.5rem auto;
  }
}
